body {
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.footer {
    background-color: #ffffff;
}

.card-link .card {
    transition: all 0.2s ease-in-out;
}

.card-link:hover .card {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}